
<div class="container-fluid">
  <div class="create-trials">
    <h2>Create Trial Questions</h2>
    <p>Get experience points by creating trial questions for the books you've read.</p>
  </div>
  <div class="search-trials">
    <h2>Search Trials</h2>
    <p>Answer trial questions for the books you've read.</p>
    <form>
      <form-group>
        <form-label>Search</form-label>
        <input type="search" placeholder="Enter a book, movie, or video game..."/>
      </form-group>
      <button ng-click="">Search</button>
    </form>
  </div>
</div>