.container-fluid
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1
      .row
        //- .col-xs-12.col-sm-5.col-md-3.img-col
        .img-box
          img(src="{{career.info.img}}")
        //- .col-xs-12.col-sm-7.col-md-9
        .profile-box
          h2 {{career.info.username}}
          h3 Rank: {{career.rank}}
          h3 Points: {{career.points}}
          button.form-button(ng-click="career.edit()") Edit Profile
      .row(ng-show="career.info.currentlyreading")
        h2 Currently Reading
        .book-in-progress(ng-repeat= "(key, value) in career.info.currentlyreading | percentage")
          .col-xs-12.current-read-info
            img.book-thumb-big(src="{{value.img}}")
            .col-xs-10
              h3 {{value.title}}
              h4 by {{value.author}}
            form().top-margin-40
              .row.top-margin-40
                .col-xs-12.col-md-5.book-prog
                  form-label Page:
                  input.pages(type="number" min='0' max='{{value.total}}' ng-model="value.page")
                  form-label Total:
                  input.pages(type="number" ng-model="value.total")
                  button(ng-click="career.pageUpdate(value.img, value.page, value.total, value.title)" value="Save") Save
                  button(ng-click="career.deleteProgressBook(value.title)" value="Abandon") Abandon
                .col-xs-12.col-md-5
                  .out-progress-bar.progress
                    .inner-progress-bar.progress-bar(style = "width: {{value.percentage}}%;")
                      h4#percentage {{value.percentage}}%



      .row
        .col-xs-12.col-md-4
          //- .col-md-push-7
          h2 Career Timeline
          form.book-form
            div.basic-form
              h3 Input a New Book
              form-group
                select.select.chosen-select(chosen)
                  option(value="Book") Book
                  //- option(value="Movie") Movie
                  //- option(value="Video Game") Video Game
              form-group
                input.form-control(type="text" placeholder="Foundation, Farenheit 451, etc..." ng-model="career.newBook.title")
              button.form-button(value="Started" ng-click="career.newBookInProgress()") Started
              button.form-button(value="Finished" ng-click="career.finishedBook()") Finished
        .col-xs-12.col-md-8.col-lg-6.col-lg-offset-2
          //- .col-md-pull-5
          .row
            .col-xs-12
              .row
                div#timeline-embed
                //- div.out-book-box(ng-repeat="(key, value) in career.info.finished | timeLine" style="top: {{value.topValue}}px; margin-left: {{value.leftMargin}}")
                //-   div.book-box(style="float: {{value.floatValue}};")
                //-     img.book-thumb(src="{{value.img}}")
                //-     div.book-div
                //-       div.title-div
                //-         a(href="#/book/{{value.title}}")
                //-           h4 {{value.title}}
                //-       h5 by {{value.author}}
                //-       h5 {{value.date}}
                //- //- .col-xs-2.col-xs-offset-5
                //- div.timeline(style="height: {{career.timeLineHeight}}")
  .tag-modal(ng-show="career.tagForm")
    .tag-form
      h3 Tags
      form(ng-submit="career.tagPoster()")
        form-group
          form-label Space Travel (limit 1)
          select.form-control.chosen-select(chosen ng-model="career.tags.space")
            option(value="")
            option(value="planet bound") Planet-bound
            option(value="subftl") subFTL
            option(value="FTL: wormholes") FTL: Wormholes
            option(value="FTL: plain") FTL: Other
          form-label Sub-genre (limit 2)
          select.form-control.chosen-select-2(chosen multiple ng-model="career.tags.subgen" max_selected_option="2")
            option(value="cyberpunk") Cyberpunk
            option(value="scifantasy") Sci-Fantasy
            option(value="space opera") Space Opera
            option(value="hard scifi") Hard Sf
            option(value="military scifi") Military Scifi
            option(value="steampunk") Steampunk
            option(value="other") Other
          form-label Social Tags (limit 1)
          input.form-control(type="text" ng-model="career.tags.social")
          form-label Scientific Concepts (limit 4)
          input.form-control(type="text" ng-model="career.tags.scientific")
          form-label Other (limit 2)
          input.form-control(type="text" ng-model="career.tags.other")
        input(type="submit" value="Save Tags")


<!-- and then one of either -->




