.container-fluid
  .create-trials
    h2 Create Trial Questions
    p Get experience points by creating trial questions for the books you've read.
  .search-trials
    h2 Search Trials
    p Answer trial questions for the books you've read.
    form
      form-group
        form-label Search
        input(type="search" placeholder="Enter a book, movie, or video game...")
      button(ng-click="") Search
